* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(#bfdae6 15%, #fcf0dd 50%, #facf9d 100%);
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-family: Calistoga, sans-serif;
}
